body {
  padding-top: 50px;
  /* padding-bottom: 25px; */
  margin: 0;
}

html, body, #map{
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.easy-button-button.disabled {
display: none;
}

.fa-map-marker-alt{
color: rgb(223, 24, 24);
}

.crosshairIcon {
color: #ff0000;
}

span.objectToCreate {
text-transform:capitalize;
display:inline-block
}

span.objectToCreate {
color: red;
font-weight: bold;
}

#sandfangInfoList {
list-style-type: none;
width: 90%;
margin: 0 auto;
}

.sandfangLi {
margin: 0 0 3px 0;
background-color: #e9ecef;
height: 2em;
padding-left: 1em;
padding-right: 1em;
}

.sandfangLi:first-child:first-letter {
text-transform: uppercase;
}

/* CSS for Sandfang skade */

/* hide edit form by default */
#editSandfangSkade {
display: none;
}

.edit-skader-form {
  display: inline;
}

.list-group-item.active {
background-color: gray;
border-color: black;
}

.list-group-item {
color: black;
}

span.skadet::before, span.skadet::after {
font-family: FontAwesome;
font-size: 1.25em;
 display: inline-block;
 padding-right: 6px;
 vertical-align: middle;
 color: red;
 content: "\f071";
}

li.sandfangLiSkade:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

li.sandfangLiSkade:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

li.sandfangLi:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

li.sandfangLi:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* place db record right in SandfangInfo list */
span.text-right {
float: right;
}
/* place title left in SandfangInfo list */
span.text-left {
font-weight: bold;
}

#btn-group-sandfang {
margin-top: 1em;
display: flex;
justify-content: space-between;
}

/* center list elements inside ul etc.. */
ul.ulList {
text-align: center;
list-style-type: none;
border: solid 1px gray;
padding-bottom: 25px;
}

/* Remove bootstrap gray border */
ul.list-group.list-group-sm li {
  border: 0px;
  padding: 0px;
}

.list-group-item {
padding: 0.3rem 1.25rem;
}



/* div[data-toggle="buttons"] label:hover {
color: #7AA3CC;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
} */

/* Checkboxes in modal */

/* style the checkbox labels */
label.modal-label {
  /* display: block; */
  line-height: 35px;
  width: 80%;
  border: solid 1px gray;
  border-radius: 40px;
  text-align: center;
  margin-bottom: .5rem;
  margin: 0px;
  height: 40px;
}


/* Dont display defualt checkbox */
input.checkbox-modal[type=checkbox] {
  display: none;
}

input.checkbox-modal:checked + label {
/* border: solid 3px black; */
background-color: #f5c6cb;
color: black;
font-weight: bold;
}

input.checkbox-modal:checked + label:before {
  content: "\2713"
}

/* Tømming modal stuff */

select{
  text-align-last:center;
  font-weight: bold;
}

/* Modal content behavior here */
#editSandfangInfo {
display: none;
}

/* center Tømming button */
.center-btn {
text-align: center;
margin-top: 15px;
}

/* CHECKBOXES IN NAV */

label input[type="checkbox"] {
  display: none;
}

/* select the followeing element after checkbox that is a span. */ 
label input[type="checkbox"] + span::before {
  content: "";
  border: 2px solid #7e8a94;
  float: left;
  height: 20px;
  width: 20px;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Checked checkbox */
label input[type="checkbox"]:checked + span:before {
  content: "\2713";
}

/* change text color when hover - only when not checked*/
label:hover input[type="checkbox"] + span {
color: #7AA3CC;
}

/* change background color for checked element - Does not work :(  */
label input[type="checkbox"]:checked {
background-color: #f5c6cb;
}

label.asset-checkbox {
  padding-left: 3px;
}

label span.label-text {
  padding-left: 3px;
}

/* Custom button colors for bootstrap 4 */
.btn-sandfang {
  color: #fff;
  background-color: #FE7F9C;
  border-color: #da2f70;
}

.btn-sandfang:hover {
  color: #fff;
  background-color: #da1919;
  border-color: #ff0000;
}

.btn-sandfang:active, .btn-sandfang.active,
.show > .btn-sandfang.dropdown-toggle {
  background-color: #ff0000;
  background-image: none;
  border-color: hsl(0, 0%, 0%);
  border-width: 2px;
}


.btn-bisluk {
  color: #fff;
  background-color: #1c86f7;
  border-color: #007bff;
}

.btn-bisluk:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-bisluk:active, .btn-bisluk.active,
.show > .btn-primary.dropdown-toggle {
  background-color: #1d08d8;
  background-image: none;
  border-color: #000000;
  border-width: 2px;
}

.btn-strindasluk {
  color: #fff;
  background-color: #f7f767;
  border-color: #fdfd54;
}

.btn-strindasluk:hover {
  color: rgb(83, 79, 79);
  background-color: #f5f531;
  border-color: #ffff00;
}

.btn-strindasluk:focus, .btn-strindasluk.focus {
  color: black;
  background-color: black;
}

.btn-strindasluk:active, .btn-strindasluk.active,
.show > .btn-strindasluk.dropdown-toggle {
  color: black;
  background-color: #ffff00;
  background-image: none;
  border-color: hsl(0, 0%, 0%);
  border-width: 2px;
}

/* Center buttons in div */
#asset_type {
 width: 100%;
 margin: 0px;
}

/* Legend styling */
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
  border-radius: 9px;
}

.object-info {
  text-transform: capitalize;
}

.text-left-test {
  overflow: auto;
  height: auto;
}

.custom-file-input ~ .custom-file-label::after {
  content: "Elegir";
}